body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 2em;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: #333;
    margin-top: -3%;
}

p {
    color: #333;
    margin-bottom: 8px;
    font-size: 1.5em;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #333;
    margin-bottom: 4px;
    font-size: 1em;
    max-width: 66.66%;
    margin-left: auto;
    margin-right: auto;
}

.tab-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    padding: 10px 0;
}


.tab-button {
    flex: 1; 
    padding: 10px;
    margin: 0;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease, border 0.3s ease, font-weight 0.3s ease;
}

.tab-button:hover {
    background-color: #d5d5d5;
}

.tab-button.active {
    background-color: #ffffff;
    border-bottom: 2px solid #333;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-content {
    display: none;
    margin-top: 20px;
    text-align: center;
    padding: 0 20px;
}

.tab-content h1, .tab-content h2, .tab-content h3, .tab-content p {
    display: inline-block;
    text-align: center;
    width: 100%;
}


.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.gallerys {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap; 
}


.gallery-item1 {
    width: 50%;
    max-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #de58ff; 
    border-radius: 10px; 
    padding: 5px; 
    background-color: #fffb00; 
}

.gallery-item2 {
    width: 50%;
    max-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #de58ff; 
    border-radius: 10px; 
    padding: 5px; 
    background-color: #fffb00;
}

.gallery-item3 {
    width: 50%;
    max-width: 600%;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #de58ff; 
    border-radius: 10px;
    padding: 5px;
    background-color: #fffb00;
}

.gallery-item4 {
    width: 65%;
    max-width: 450px;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #de58ff;
    border-radius: 10px;
    padding: 5px;
    background-color: #fffb00;
}

.gallery-item5 {
    width: 62%;
    max-width: 410px;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #de58ff;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #fffb00;
}

.gallery-item6 {
    width: 50%;
    max-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #de58ff;
    border-radius: 10px;
    padding: 5px;
    background-color: #fffb00;
}

.gallery-item1 img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.gallery-item2 img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.gallery-item3 img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.gallery-item4 img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.gallery-item5 img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.gallery-item6 img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.gallery-item1 img:hover {
    transform: scale(1.05);
}


.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}


.modal-content {
    margin: auto;
    display: block;
    width: 60%; 
    max-width: 450px;
    height: auto;
    max-height: 120%;
    object-fit: contain;
}

#caption {
    width: 30%;
    color: #f1f1f1;
    font-size: 1.2em;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
